body {
  margin: 0;
  background: #5c3566;
  color: #111;
  font: 100%/1.5 Cabin, "DejaVu Sans", "Bitstream Vera Sans", Verdana; }

a:link {
  text-decoration: none; }

header h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 0 24px;
  margin-top: -0.25em;
  margin-bottom: 0;
  font-size: 500%;
  line-height: 100%; }
  header h1 a {
    position: relative;
    top: 0.4em;
    color: #fff;
    text-decoration: none;
    transition: top 0.15s linear; }
    header h1 a:active, header h1 a:hover, header h1 a:focus {
      top: 0.2em;
      transition: top 0.25s ease-out; }

html[purty] body {
  font-family: "Comic Sans MS"; }
html[purty] header h1 a {
  text-shadow: 0 0 0 rgba(51, 0, 51, 0);
  transition: top 0.15s linear, text-shadow 0.2s linear; }
html[purty] header h1 a:active, html[purty] header h1 a:hover, html[purty] header h1 a:focus {
  z-index: 23;
  text-shadow: 3px 3px 0 rgba(51, 0, 51, 0.75), -1px -1px 0 #5c3566, -1px 1px 0 #5c3566, 1px -1px 0 #5c3566, 1px 1px 0 #5c3566;
  transition: top 0.25s ease-out, text-shadow 0.2s linear; }

#midriff {
  position: relative;
  z-index: 11;
  padding-bottom: 3em;
  background: #fff;
  border: 1px solid #fff; }

nav ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 0 24px;
  margin-top: 0; }
  nav ul:after {
    content: "";
    display: table;
    clear: both; }
  nav ul li {
    float: left;
    margin: 0.75em 0.25em;
    list-style: none;
    font-size: 75%;
    letter-spacing: 1px;
    text-transform: uppercase; }
    nav ul li a {
      display: block;
      line-height: 100%;
      padding: 1em; }
    nav ul li:first-child {
      margin-left: 0; }
    nav ul li:last-child {
      margin-right: 0; }

nav a, section a {
  transition: all 0.2s; }
  nav a:link, nav a:visited, section a:link, section a:visited {
    color: #9859a8; }
  nav a:hover, nav a:focus, section a:hover, section a:focus {
    border-color: #5c3566;
    background-color: #5c3566;
    color: #fff; }
  nav a:active, section a:active {
    border-color: #3465a4;
    background-color: #3465a4;
    color: #fff;
    transition: none; }

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 0 24px;
  position: relative;
  z-index: 11; }
  section h1 {
    background: #5c3566;
    color: #fff;
    font-size: 250%;
    line-height: 125%;
    margin: 1rem -24px 1rem;
    padding: 0 24px; }
  section h2 {
    color: #5c3566;
    font-size: 175%;
    line-height: 125%;
    margin: 1.5rem 0 1rem; }
  section img {
    max-width: 100%; }
  section small {
    font-size: 75%;
    text-transform: uppercase; }
  section pre {
    margin: 1rem -24px;
    padding: 1rem 24px;
    max-width: 100vw;
    overflow: auto;
    background: #f3ecf2; }
  section ol, section ul {
    padding-left: 24px; }
  section table {
    border-collapse: collapse; }
  section td, section th {
    padding: 0.25rem 0.5rem; }
  section thead th {
    border-bottom: 1px solid black; }
  section #posts {
    list-style: none;
    padding-left: 0; }
    section #posts time {
      margin-left: 0.25em;
      color: #aaa; }

footer {
  color: #ad7fa8;
  font-size: 75%;
  line-height: 150%;
  text-align: center; }
  footer p {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding: 0 24px; }
    footer p a {
      color: #d5bdd2; }

@media (max-width: 500px) {
  header h1 {
    font-size: 300%; }

  nav ul {
    margin-bottom: 0; }

  section h1 {
    font-size: 200%; }
  section h2 {
    font-size: 150%; } }
