$primary: #5c3566
$primary-light: #ad7fa8
$secondary: #3465a4
$white: #fff
$black: #111

// Ripped from <http://compass-style.org/reference/compass/utilities/general/clearfix/>
=pie-clearfix
  &:after
    content: ""
    display: table
    clear: both

=block
  margin:
    left: auto
    right: auto
  max-width: 720px
  padding: 0 24px

body
  margin: 0
  background: $primary
  color: $black
  font: 100%/1.5 Cabin, "DejaVu Sans", "Bitstream Vera Sans", Verdana

a:link
  text-decoration: none

header
  h1
    +block
    margin:
      top: -0.25em
      bottom: 0
    font-size: 500%
    line-height: 100%

    a
      position: relative
      top: 0.4em
      color: $white
      text-decoration: none
      transition: top 0.15s linear

      &:active, &:hover, &:focus
        top: 0.2em
        transition: top 0.25s ease-out

html[purty]
  body
    font-family: "Comic Sans MS"

  // Activate epic drop shadow effect to annoy Gus
  header h1 a
    &
      text-shadow: 0 0 0 rgba(51, 0, 51, 0)
      transition: top 0.15s linear, text-shadow 0.2s linear

    &:active, &:hover, &:focus
      z-index: 23  // above midriff
      text-shadow: 3px 3px 0 rgba(51, 0, 51, .75), -1px -1px 0 $primary, -1px 1px 0 $primary, 1px -1px 0 $primary, 1px 1px 0 $primary
      transition: top 0.25s ease-out, text-shadow 0.2s linear

#midriff
  position: relative
  // When header and midriff collide, midriff will always end up on top.
  // Oh yeah, you like that, don't you?
  z-index: 11

  padding-bottom: 3em

  background: $white
  border: 1px solid $white

nav
  ul
    +block
    +pie-clearfix

    margin-top: 0

    li
      float: left
      margin: 0.75em 0.25em
      list-style: none

      font-size: 75%
      letter-spacing: 1px
      text-transform: uppercase

      a
        display: block
        line-height: 100%
        padding: 1em

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0

nav, section
  a
    transition: all 0.2s

    &:link, &:visited
      color: lighten($primary, 20)

    &:hover, &:focus
      border-color: $primary
      background-color: $primary
      color: $white

    &:active
      border-color: $secondary
      background-color: $secondary
      color: $white
      transition: none

section
  +block

  position: relative
  z-index: 11  // Above the header

  h1
    background: $primary
    color: $white
    font-size: 250%
    line-height: 125%
    margin: 1rem -24px 1rem
    padding: 0 24px

  h2
    color: $primary
    font-size: 175%
    line-height: 125%
    margin: 1.5rem 0 1rem

  img
    max-width: 100%

  small
    font-size: 75%
    text-transform: uppercase

  pre
    margin: 1rem -24px
    padding: 1rem 24px
    max-width: 100vw
    overflow: auto
    background: lighten($primary-light, 35)

  ol, ul
    padding-left: 24px

  table
    border-collapse: collapse

  td, th
    padding: 0.25rem 0.5rem

  thead th
    border-bottom: 1px solid black

  #posts
    list-style: none
    padding-left: 0

    time
      margin-left: 0.25em
      color: #aaa

footer
  color: $primary-light
  font-size: 75%
  line-height: 150%
  text-align: center

  p
    +block
    a
      color: lighten($primary-light, 20)

@media (max-width: 500px)
  // Responsive design yay
  header h1
    font-size: 300%
  nav ul
    margin-bottom: 0
  section
    h1
      font-size: 200%
    h2
      font-size: 150%
